<%- include('../partials/header.ejs')%>
<body>
<main>
<h2>Welcome, <%= user.firstName + " " + user.lastName %></h2>
<%if(event.length) {%>
    <p>You have created the following Events</p>
    <%event.forEach(event => {%>
        <ul>
            <li><a href='/event/<%= event.id%>'><%=event.title%></a></li>
        </ul>
    <%});
} else {%>
    <p>You have not created any events</p>
<%}%>
</main>
</body>

<%- include('../partials/footer.ejs') %>